html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 4rem;
  margin: 0 0 1rem;
}

p {
  font-size: 2rem;
  font-style: italic;
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content{
  padding: 0 1em;
  position: absolute;
  max-width: 50em;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
